/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
}

/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #f7f9fe;

}

/* Responsive layout */
@media only screen and (max-width: 600px) {
  .container {
    max-width: 400px;
  }
  .sections-container .balance, .mining, .transaction, .nodes, .sync {
    width: 100%;
  }
}

/* Headings */
h1, h2 {
  margin: 10px 0;
  font-family: Roboto, sans-serif;
  color: #222;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
}

/* Sections container */
.sections-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Padding between boxes */
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
}

/* Individual sections */
.balance, .mining, .transaction, .nodes, .sync {
  flex: 1; /* Equal width for all boxes */
  background-color: #f7f9fe;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .sections-container {
    gap: 5px; /* Adjust padding for smaller screens */
  }
  .sections-container .balance, .mining, .transaction, .nodes, .sync {
    flex-basis: 100%; /* Full width on smaller screens */
  }
}

/* Balance section */
.balance {
  background-color: #f7992f;
  color: #fff;
}

#balance-display {
  font-size: 1.25em;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Mining section */
.mining {
  background-color: #f2f3f4;
}

/* Transaction section */
.transaction {
  background-color: #f0f8ff;
}

.transaction form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-size: 0.9em;
}

input, select {
  font-size: 1em;
  line-height: 1.5;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

#recipient-address {
  placeholder: "Enter recipient's address...";
}

#transaction-amount {
  placeholder: "Enter amount...";
}

/* Nodes and Sync sections */
.nodes, .sync {
  background-color: #f7f9fe;
}

/* Buttons */
button{
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
}

button:hover, #send:hover{
  background-color: #f8881d;
}

/* Additional styles */
#transaction-form button {
  background-color: #f7992f;
  color: #fff;
}

.error {
  color: red;
}

